/* --------------------------------------------------
header
-------------------------------------------------- */
.header__ {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color:white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 1;
}
  .header__logo{
    width: 65px;
    margin-left: 30px;
  }
    .header__logo--img{
      width: 100%;
    }
  .header__menu--ttl{
    margin-right: 20px;
  }
    .header__menu--item{
      /* display:inline; */
      display:inline-block;
      padding: 0 15px;
    }
    .header__menu--item a{
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
      color: black;
    }
/* --------------------------------------------------
@media screen
-------------------------------------------------- */
.menu{
  display: none;
}
.nav{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: -100%;
  background: white;
  transition: .7s;
  text-align: center;
}
.nav ul{
  padding-top: 80px;
}
.nav ul li{
  list-style-type: none;
  margin-top: 50px;
}
.in{
  transform: translateX(100%);
}
@media screen and (max-width: 768px) {
  .header__menu--ttl{
    display: none;
  }
  a{
  text-decoration: none;
  color: blue
  }

  .menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  right: 30px;
  /* top: 20px; */
  z-index: 1;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .contents-service__card{
    width: 85%;
  }
  .contents-blog__card{
      width: 90%;
  }
}
@media screen and (min-width: 769px) {
  .contents-service__card{
    width: 40%;
  }
  .contents-blog__card{
      width: 30%;
  }
}
/* --------------------------------------------------
main
-------------------------------------------------- */
main{
  /* display: flex;
  flex-direction: column; */
}
/* --------------------------------------------------
contents-title
-------------------------------------------------- */
.contents-ttl__{
  /* height: 850px; */
  margin-bottom: 70px;;
}
  .contents-ttl__img{
    position: relative;
      height: 100%;
      top:70px;
  }
    .contents-ttl__img img{
      height: 100%;
      width:100%;
      object-fit:cover;
    }
    .contents-ttl__str{
        position: absolute;
        color: white;
        font-weight: bold;
        left: 50%;
        transform: translate(-50%,-50%);
    }
      .contents-ttl__str--j{
        top: 50%;
        font-size: 50px;
        width: 90%;
        text-align: center;
        line-height: 50px;
      }
      .contents-ttl__str--e{
        margin-top: 20px;
        width: 90%;
        text-align: center;
        top: 57%;
        font-size: 18px;
      }
  .contents-ttl__note{
    height: 350px;
    background: black;
    color: white;
    position: relative;
  }
    .contents-ttl__note--str-frame{
      position: absolute;
      top: 20%;
      left: 8%;
      width: 84%;
      line-height: 30px;
    }
      .contents-ttl__note--str1{
        font-size: 30px;
        margin: 30px 0;
      }
      .contents-ttl__note--str2{
      }

/* --------------------------------------------------
contents-servive
-------------------------------------------------- */
.contents-servive__{
}
  .contents-service__str{
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .contents-service__container{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
  }
    .contents-service__card{
      /* width: 40%; */
      margin:10px;
      display: inline-block;
    }
      .contents-service__card--img{
        width: 100%;
      }
        .contents-service__card--img img{
          width: 100%;
        }
      .contents-service__card--note{
      }
        .contents-service__card--str1{
          font-weight: bold;
          line-height: 30px;
        }
        .contents-service__card--str2{
          line-height: 25px;
          font-size: 14px;
        }
  .contents-service__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
    .contents-service__btn--str{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 25px;
      padding: 10px;
      background: #CD0224;
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      transition:0.5s;
    }
    .contents-service__btn--str:hover{
      opacity: 0.5;
    }

/* --------------------------------------------------
contents-news
-------------------------------------------------- */
.contents-news__{
  /* width: 100%; */
  margin: 50px auto;
  background:black;
  color: white;
  padding: 80px 50px;
}
  .contents-news__ttl{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content:space-between;
  }
    .contents-news__ttl--str{
      font-size: 30px;
    }
    .contents-news__btn{
    }
      .contents-news__btn--str{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 146px;
          height: 22px;
          padding: 7px;
          background: #CD0224;
          color: white;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          transition:0.5s;
        }
        .contents-news__btn--str:hover{
          opacity: 0.5;
        }
  .contents-news__list{
    display: flex;
    flex-direction:column;
    width: 90%;
    margin: 10px auto;
  }
    .contents-news__list--item{
      background: white;
      list-style-type: none;
      color: black;
      text-decoration: none;
      margin: 10px 0;
      height: 70px;
      line-height: 70px;
      padding-left: 20px;
    }
      .contents-news__list--item:hover{
        background: rgb(180, 180, 180);
      }
      .contents-news__list--item span{
        margin: 10px;
        font-weight: bold;
      }


/* --------------------------------------------------
contents-blog
-------------------------------------------------- */
.contents-blog__{
    margin-top: 80px;
    margin-bottom: 30px;
}
  .contents-blog__str{
    width: 90%;
    margin: 30px auto;
    font-size: 30px;
    text-align: center;
  }
  .contents-blog__container{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    width: 90%;
    margin: 0 auto;
  }
    .contents-blog__card{
      /* width: 30%; */
      padding: 10px;
    }
      .contents-blog__card--img{
        /* width: 100%; */
      }
        .contents-blog__card--img img{
          width: 100%;
          transition:0.5s;
        }
        .contents-blog__card--img img:hover{
          opacity: 0.5;
        }
      .contents-blog__card--note{
      }
        .contents-blog__card--str1{
          margin-top: 10px;
          font-size: 12px;
        }
        .contents-blog__card--str2{
          display: inline-block;
          margin-top: 10px;
          text-decoration: none;
          font-weight: bold;
          color: black;
          transition:0.5s;
        }
        .contents-blog__card--str2:hover{
          opacity: 0.5;
        }
  .contents-blog__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
    .contents-blog__btn--str{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 25px;
      padding: 10px;
      background: #CD0224;
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      transition:0.5s;
    }
    .contents-blog__btn--str:hover{
      opacity: 0.5;
    }



/* --------------------------------------------------
contents-paragraph
-------------------------------------------------- */
.contents-paragraph{
  width: 100%;
  display: flex;
  height: 250px;
  padding: 80px 0;
}
/* --------------------------------------------------
contents-company
-------------------------------------------------- */
.contents-company__{
    width: 50%;
}
  .contents-company__str{
    width: 100%;
    font-size: 25px;
    text-align: center;
    background: #CD0224;
    color: white;
    transition:0.5s;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .contents-company__str:hover{
      opacity: 0.5;
    }

/* --------------------------------------------------
contents-recruit
-------------------------------------------------- */
.contents-recruit__{
    width: 50%;
}
  .contents-recruit__str{
    width: 100%;
    font-size: 25px;
    text-align: center;
    background: black;
    color: white;
    transition:0.5s;

    line-height: 250px;
  }
    .contents-recruit__str:hover{
      opacity: 0.5;
    }

/* --------------------------------------------------
contents-contact
-------------------------------------------------- */
.contents-contact__{
  height: 300px;
  background: #F5F6F9;
  display: flex;
  flex-direction: column;
  justify-content:center;

}
  .contents-contact__str{
    /* width: 90%; */
    margin: 40px auto;
    font-size: 30px;
    text-align: center;
  }
    .contents-contact__note{
      text-align: center;
      font-size: 14px;
    }
    .contents-contact__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
    .contents-contact__btn--str{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 25px;
      padding: 10px;
      background: #CD0224;
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      transition:0.5s;
    }
    .contents-contact__btn--str:hover{
      opacity: 0.5;
    }
/* --------------------------------------------------
footer
-------------------------------------------------- */
.footer__ {
  display: flex;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  align-items:center;
  background-color:black;
  /* height: 50px; */
  /* padding: 30px 0; */
}
  .footer__logo{
    margin-left: 100px;
    color: white;
  }
    .footer__logo--str{
      font-size: 14px;
    }
  .footer__menu--ttl{
    margin-right: 60px;
  }
    .footer__menu--item{
      /* display:inline-block;
      padding: 0px 15px; */
      /* display: block;
      padding: 10px 15px; */
      height: 16px;
      text-align: center;
    }
    .footer__menu--item a{
      text-decoration: none;
      font-size: 11px;
      color: white;
    }
    /* .footer__menu--ttl li:not(:last-child){
      border-right: solid 1px white;
    } */
@media screen and (max-width: 768px) {
  .footer__ {
    justify-content: space-around;
    padding: 30px 0;
  }
  .footer__menu--item{
    display: block;
    padding: 10px 15px;
  }
  .footer__menu--ttl li:not(:last-child){
    border: none;
  }
}
@media screen and (min-width: 769px) {
  .footer__ {
    justify-content: space-between;
    height: 50px;
  }
  .footer__menu--item{
    display:inline-block;
    padding: 0px 15px;
  }
  .footer__menu--ttl li:not(:last-child){
    border-right: solid 1px white;
  }
}
